.header {
    background-color: #1a4295;
}
.logo {
    margin-right: 0;
    width: 30%;
    float: left;
    margin-top: 10px;
}
.dark-blue-bg{
    background: #1a4295;
}
.dark-blue-color{
    color: #1a4295;
}
.logo img {
    max-width: 265px;
}
.main-menu li a {
    font-weight: bold;
}
.color-light-blue {
    /*    color: #00c8f8;*/
    color: red;
}
.flyer-nyther-read-more a {
    color: #000;
    font-size: 16px;
    opacity: 1;
    font-weight: bold;
}
.category-name {
    background-color: #1a4295;
}
.load-more-posts {
    background-color: #1a4295;
}
.load-more-posts:hover {
    background-color: #1a4295;
}
.followus-innner {
    border: 7px solid #30528D;
}
.followus-section:after {
    background-color: #1a4295;
}
.default-post-wrap .post-thumbnail img {
    max-height: 180px;
    object-fit: cover;
    min-height: 180px;
}
.post-vertical-list .post-thumbnail img {
    max-height: 117px;
    min-height: 117px;
    object-fit: cover;
}
.post-vertical-list .d-flex:last-of-type {
    margin-bottom: 0;
}
.post-small .post-thumbnail img {
    max-height: 85px;
    object-fit: cover;
}
.fetched-article-image img {
    max-height: 185px;
    object-fit: cover;
}
.logo-source img {
    width: 100px !important;
    margin-left: 50px;
}
i.fas.fa-caret-right {
    font-size: 30px;
    vertical-align: middle;
    margin-left: 20px;
}
.source-link {
    color: initial;
    text-decoration: none !important;
}
.logo-source {
    padding-top: 0px;
}
.followus-section-fetched::after {
    bottom: 20px !important;
}
.league-header-img {
    max-height: 300px;
    object-fit: cover;
    width: 100%;
}
.category-menu .dropdown {
    position: absolute;
    top: 100%;
    left: 50%;
    background: #f75792;
    min-width: 100%;
    border-radius: 0 0 2px 2px;
    -webkit-transform: scale(0) translateX(-50%);
    transform: scale(0) translateX(-50%);
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    visibility: hidden;
    z-index: 30;
    padding: 1rem 2rem;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    white-space: nowrap;
}
.category-menu li.category-main-li a {
    display: block;
    padding-top: 5px;
}
.category-menu li.category-main-li {
    position: relative;
    padding: 0 14px 10px !important;
}
.category-menu .dropdown ul {
    -webkit-column-count: 2;
    column-count: 2;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.category-menu .dropdown li a {
    color: #fff;
    display: block;
    line-height: 2.4;
    min-width: 9rem;
    text-decoration: none;
}
.category-menu .dropdown li a:hover {
    color: #000000;
}
.category-menu li:hover .dropdown {
    -webkit-transform: scale(1) translateX(-50%);
    transform: scale(1) translateX(-50%);
    visibility: visible;
}
.category-menu .dropdown:before {
    content: "";
    display: block;
    border: 8px solid transparent;
    border-bottom-color: #f75792;
    position: absolute;
    top: -16px;
    left: 50%;
    margin-left: -8px;
}
.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    margin-top: 20px;
}

.article-bottom-section p {
    color: #000;
    font-weight: bold;
    font-size: 15px !important;
}
a.fb-article-icon {
    float: right;
    margin-right: 10px;
    background: #1a4295;
    padding: 5px 18px;
    color: #fff;
    font-size: 26px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: -15px;
}
.followus-feteched-desktop {
    border-bottom: 7px solid #1a4295;
    padding-bottom: 5px;
}
.post-source img {
    max-width: 100px;
    width: 100px;
    /*    height: 25px;*/
}
.fetched-intro-title {
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 15px;
}
.fetched-intro-desc {
    margin: 0;
    padding-top: 25px;
    font-size: 14px;
    font-weight: bold;
}
.fetched-intro-logo {
    float: right;
    padding-right: 15px;
}
.single-site-logo img {
    margin-top: 15%;
}
.desktop-right-section {
    width: 100%;
}
ul.top-right-menu {
    margin: 0;
    text-align: right;
}
ul.top-right-menu li {
    display: inline-block;
    color: #fff;
    padding: 15px 5px;
}
ul.top-right-menu li img.fb {
    width: 33px;
    height: 33px;
}
ul.top-right-menu li img.insta {
    width: 28px;
    height: 28px;
    margin-top: 1px;
}
.fb-follow-desk-text {
    margin: 0;
    padding-top: 10px;
    font-size: 12px;
    font-weight: bold;
}
.post-tags li:first-child i {
    color: red;
}
.post-info.default .post-title a:hover {
    color: #1a4295;
}

#vi-stories-area-above-placeholder {
    height: 0 !important;
}
.single-page-main-content .feature-post .post-thumbnail img {
    height: 320px;
    object-fit: cover;
}

@media (max-width: 480px){
    .sticky-mobile-header {
        margin-bottom: 0;
        position: fixed;
        width: 100%;
        z-index: 9999;
        transition: 200ms -webkit-transform;
        transition: 200ms transform;
        transition: 200ms transform, 200ms -webkit-transform;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    .sticky-mobile-header-translated {
        -webkit-transform: translateY(-97%);
        transform: translateY(-97%);
    }
    .container-mobile {
        padding-top: 65px;
    }
    .row{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .own-article-large {
        padding-left: 0;
        padding-right: 0;
    }
    .logo {
        padding-top: 0px;
        /* border-right: 18px solid #e61610 !important; */
        width: 100%;
        margin-top: 0px;
    }
    .logo img {
        margin-left: -5px;
    }

    .desktop-right-section {
        width: 100%;
        margin-top: -10px;
        float: left;
    }
    ul.top-right-menu {
        text-align: left;
        padding: 0;
    }
    ul.top-right-menu li {
        padding: 5px 5px;
    }
    ul.top-right-menu li img.fb {
        width: 26px;
        height: 27px;
        margin-left: 80px;
    }
    .fb-follow-desk-text {
        margin: 0;
        padding-top: 0px;
        font-size: 10px;
        font-weight: bold;
    }
    ul.top-right-menu li img.insta {
        width: 23px;
        height: 23px;
        margin-top: 1px;
    }
    .logo-right-mobile {
        width: 50%;
    }
    .logo-right-mobile img {
        float: right;
    }
    .main-area {
        padding: 0px;
    }
    .generic-ads-box {
        width: 100%;
        padding: 15px 15px;
        text-align: center;
    }
    .generic-ads-box img{
        width: 100%;
    }
    .generic-ads-box .img-320{
        width: 320px;
        height: 320px;
        margin: 0 auto;
    }
    .post-info.overlay {
        padding: 10px;
    }
    .post-info.overlay h2 {
        font-size: 24px;
    }
    .feature-post .post-thumbnail img {
        height: 280px;
        object-fit: cover;
    }
    .own-article-mobile {
        border-top: 5px solid #1a237e;
        padding-bottom: 10px;
    }
    .own-article-mobile .post-info{
        padding-right: 10px;
    }
    .own-article-mobile .post-thumbnail img {
        height: 130px;
        object-fit: cover;
    }
    .own-article-mobile .post-title {
        font-size: 15px;
        font-weight: bold;
        color: #000000;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .post-title a {
        color: #000000;
    }
    .own-article-mobile .date{
        color: #606060;
        font-size: 10px;
        margin-top: 5px;
        font-family: Arial;
        font-weight: bold;
        opacity: 0.67;
    }
    .own-article-mobile .post-desc a{
        color: #000000;
        opacity: .75;
        font-size: 12px;
    }
    .flyer-nyther-text {
        padding: 5px 10px;
        border-top: 1px solid #eee;
        font-size: 14px;
        color: #000000;
        border-bottom: 1px solid #eee;
    }
    .flyer-nyther-text a {
        color: #1a237e;
        font-weight: bold;
        text-decoration: underline;
    }
    .flyer-nyther-caret {
        color: red;
    }
    .fetched-articles-intro-section{
        border-top: 5px solid #1a237e;
        padding: 10px 5px;
        /*        border-bottom: 3px dashed #d39c2f;*/

    }
    .fetched-articles-intro-section h4{
        font-size: 24px;
        font-weight: bold;
    }
    .fetched-articles-intro-section p{
        font-size: 12px;
    }
    .fetched-articles-intro-section img{
        width: 80px;
        float: right;
    }
    .fetched-large-article-mobile {
        padding: 20px 15px;
        border-bottom: 3px solid #1a237e;
    }
    .fetched-large-article-mobile .default-post-wrap{
        margin-bottom: 0;
    }
    .fetched-large-article-mobile .post-thumbnail img {
        height: 215px;
        object-fit: cover;
        max-height: 215px;
        min-height: 215px;
    }
    .fetched-large-article-mobile .post-source{
        top: 0;
        background: #fff;
        padding: 5px 10px;
        border-bottom-right-radius: 10px;
    }
    .fetched-large-article-mobile .post-info.default {
        padding: 10px 0 0;
    }
    .post-info.default .post-title a {
        color: #000000;
    }
    .fetched-large-article-mobile .post-info.default .post-title {
        font-size: 32px;
        font-weight: 700;
        /* font-family: Arial; */
        font-family: 'Open Sans Condensed', sans-serif;
        letter-spacing: -0.89px;
    }
    .fetched-large-article-mobile .post-source img{
        width: 100px;
        height: auto;
    }
    .fetched-large-article-mobile .post-info.default .date {
        color: #606060;
        font-family: Helvetica;
        font-size: 11px;
        margin: 0px 0px 5px;
        font-weight: bold;
        opacity: 0.67;
    }
    .fetched-small-article-mobile {
        padding: 10px 10px;
    }
    .fetched-small-article-mobile .post-title {
        font-size: 14px;
        font-weight: bold;
        opacity: 1;
        margin-top: 15px;
        font-family: Arial;
    }
    .fetched-small-article-mobile .post-thumbnail img {
        width: 100%;
        height: 105px;
        object-fit: cover;
    }
    .fetched-small-article-mobile .date {
        color: #606060;
        font-weight: bold;
        opacity: .67;
        font-family: Helvetica;
        bottom: 0;
        position: absolute;
        font-size: 11px;
    }
    .load-more-posts {
        padding: 10px;
    }

    /* single page mobile style */

    .main-title {
        font-size: 32px;
        font-family: 'Open Sans Condensed', sans-serif;
        letter-spacing: -0.89px;
    }
    .single-page-main-content {
        padding: 0;
    }
    .single-page-main-content .feature-post .post-thumbnail img{
        height: 230px;
        width: 100%;
    }
    .single-page-meta {
        font-size: 11px;
        font-weight: bold;
    }
    .single-article-content strong {
        font-weight: normal;
    }
    .single-article-content p {
        font-size: 14px;
        opacity: 1;
        margin-bottom: 15px;
    }
    .social-btns a{
        padding: 5px;
    }
    .single-share-section {
        padding-left: 20px !important;
        border-bottom: 5px solid #1a237e;
        padding-bottom: 20px !important;
    }
    .a2a_kit.a2a_kit_size_32.a2a_default_style {

        opacity: 0.6;
    }
    .a2a_kit a span {
        width: 33px;
        height: 33px;
        border-radius: 50px !important;
    }
    .social-section .text {
        margin-top: 4px;
    }
    .followus-section-fetched {
        padding: 0 20px 15px;
        border-bottom: 5px solid #1a237e;
    }
    .followus-section-fetched .source-link {
        font-size: 16px;
    }
    .followus-section-fetched .logo-source {
        float: right;
        width: 50%;
    }
    .logo-source img {
        margin-left: 0;
        float: right;
        height: 40px;
    }
    .article-bottom-section {
        border-bottom: 5px solid #1a4295;
        padding-bottom: 10px;
    }
    .article-bottom-section p {
        font-size: 13px !important;
        padding-left: 20px;
    }
    a.fb-article-icon {
        margin-right: 15px;
    }
}


@media (max-width: 375px){
    ul.top-right-menu li img.fb {
        margin-left: 45px;
    }
}