/********************************************************
					Global Style Start
********************************************************/
html {
  font-size: 13px;
}

html, body {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.conforta {
  font-family: 'Comfortaa', cursive;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

body {
  font-size: 1rem;
}

a {
  transition: all 0.25s ease-in-out 0s;
  -moz-transition: all 0.25s ease-in-out 0s;
  -webkit-transition: all 0.25s ease-in-out 0s;
  -ms-transition: all 0.25s ease-in-out 0s;
}

.container {
  max-width: 1050px;
}

.row {
  margin-left: -5px;
  margin-right: -5px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-right: 5px;
  padding-left: 5px;
}

.color-pink {
  color: #ea598e;
}

.color-blue {
  color: #22c9f6;
}

.color-green {
  color: #94d173;
}

.border-top-blue {
  border-top-color: #22c9f6 !important;
}

.border-top-pink {
  border-top-color: #e63979 !important;
}

.section-border {
  position: relative;
  border-top-width: 14px;
  border-top-style: solid;
}

.section-border.table {
  border-top-width: 17px;
}

.border-mixed:before, .border-mixed:after {
  content: '';
  height: 17px;
  width: 50%;
  display: block;
  top: -17px;
  position: absolute;
}

.border-mixed:before {
  background-color: #621e76;
  left: 0px;
}

.border-mixed:after {
  background-color: #94d173;
  right: 0px;
}

.section-border.table td,
.section-border.table th {
  padding: 1rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

/********************************************************
					Global Style END
********************************************************/
/********************************************************
					Header Style Start
********************************************************/
.header {
  background-color: #ea598e;
}

.logo {
  margin-right: 40px;
}

.logo img {
  max-width: 200px;
}

.main-menu {
  margin-bottom: 0px;
}

.main-menu > li {
  margin-right: 10px;
}

.main-menu > li > a {
  padding: 31px 25px;
  color: white;
  display: block;
}

.main-menu li {
  position: relative;
}

.main-menu li a {
  text-decoration: none;
}

.main-menu li a > .fa {
  vertical-align: text-top;
}

.main-menu li a:hover {
  color: black;
}

.main-menu li.current-menu-item a {
  background-color: #fff;
  color: black;
}

.main-menu li:hover .dropdown {
  -webkit-transform: scale(1) translateX(-50%);
          transform: scale(1) translateX(-50%);
  visibility: visible;
}

.main-menu .dropdown {
  position: absolute;
  top: 100%;
  left: 50%;
  background: #f75792;
  min-width: 100%;
  border-radius: 0 0 2px 2px;
  -webkit-transform: scale(0) translateX(-50%);
          transform: scale(0) translateX(-50%);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: all .1s;
  transition: all .1s;
  visibility: hidden;
  z-index: 30;
  padding: 1rem 2rem;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}

.main-menu .dropdown:before {
  content: "";
  display: block;
  border: 8px solid transparent;
  border-bottom-color: #f75792;
  position: absolute;
  top: -16px;
  left: 50%;
  margin-left: -8px;
}

.main-menu .dropdown ul {
  -webkit-column-count: 2;
          column-count: 2;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.main-menu .dropdown li a {
  color: #fff;
  display: block;
  line-height: 2.4;
  min-width: 9rem;
  text-decoration: none;
}

.main-menu .dropdown li a:hover {
  color: #000000;
}

.category-menu li {
  padding: 0 14px;
}

.category-menu li a {
  color: #000000;
  font-weight: 600;
  text-decoration: none;
}

.category-menu li a:hover {
  color: #e63979;
}

/********************************************************
					Footer Style Start
********************************************************/
/***************************************
			Home Blog Section 
***************************************/
.grey_bg {
  background-color: #f7f6f6;
}

.post {
  position: relative;
}

.post-thumbnail {
  overflow: hidden;
}

.post-thumbnail img {
  width: 100%;
  transition: all 0.25s cubic-bezier(0.85, 1.49, 0.96, 1.05);
  -moz-transition: all 0.25s cubic-bezier(0.85, 1.49, 0.96, 1.05);
  -webkit-transition: all 0.25s cubic-bezier(0.85, 1.49, 0.96, 1.05);
  -ms-transition: all 0.25s cubic-bezier(0.85, 1.49, 0.96, 1.05);
}

.main-area {
  padding: 20px 20px;
}

.default-post-wrap {
  min-height: 100%;
  background-color: #fff;
  margin-bottom: 15px;
}

.post:hover .post-thumbnail img,
.post-small:hover .post-thumbnail img,
.default-post-wrap:hover .post-thumbnail img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.post-source {
  text-align: center;
  margin-top: 20px;
}

.post-source span {
  width: 70%;
  display: block;
  margin: 0 auto;
  border-top: 1px solid rgba(0, 0, 0, 0.07);
  padding-top: 10px;
}

.post-source img {
  max-width: 90px;
}

.post-info.overlay {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 30px;
}

.post-info.overlay h2 {
  font-size: 2.7rem;
  font-weight: 700;
}

.post-info.overlay a {
  color: #fff;
}

.post-info.overlay a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.85);
}

.post-info.overlay a::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}

.post-info.default {
  background-color: #fff;
  padding: 10px 12px 15px 12px;
}

.post-info.default .date {
  color: #919191;
  font-family: "Comfortaa", cursive;
  font-size: 10px;
  margin: 0px 0px 5px;
}

.post-info.default .post-title {
  font-size: 1.2rem;
  font-weight: 600;
  min-height: 70px;
}

.post-info.default .post-title a {
  color: #373737;
  text-decoration: none;
}

.post-info.default .post-title a:hover {
  color: #ea598e;
}

.post-info.default .post-desc {
  position: relative;
  padding-left: 20px;
  font-weight: 300;
  color: #414141;
}

.post-info.default .post-desc i {
  position: absolute;
  left: 0px;
  top: 4px;
}

.post-small .headline {
  color: #6b6b6b;
  font-family: "Comfortaa", cursive;
  font-size: 10px;
  padding: 7px 10px 7px 10px;
}

.post-small .post-info {
  padding: 10px 9px;
}

.post-small .post-title {
  font-weight: 600;
  font-size: 14px;
}

.post-small .post-title a {
  color: #373737;
  text-decoration: none;
}

.post-small .post-title a:hover {
  color: #ea598e;
}

.post-small .date {
  color: #919191;
  font-family: "Comfortaa", cursive;
  font-size: 10px;
  margin: 15px 0px 0px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #e63979;
  padding: 6px 0 0 0;
}

.post-vertical-list > div {
  margin-bottom: 14px;
}

.post-vertical-list .post-title {
  font-weight: 600;
  font-size: 14px;
}

.post-vertical-list .post-title a {
  color: #373737;
  text-decoration: none;
}

.post-vertical-list .post-title a:hover {
  color: #000000;
}

.post-vertical-list .date {
  color: #919191;
  font-family: "Comfortaa", cursive;
  font-size: 10px;
  padding: 6px 0 0 0;
}

.post-tags {
  padding: 0px;
  margin: 0px;
  font-weight: 300;
}

.post-tags li {
  margin-right: 45px;
  color: #fff;
}

.post-tags li:last-child {
  margin-right: 0px;
}

.post-tags li i {
  margin-right: 4px;
}

.post-tags li:first-child i {
  color: #ea598e;
}

.post-tags li:nth-child(2n) i {
  color: #94d173;
}

.post-tags li:nth-child(3n) i {
  color: #22c9f6;
}

.category-name {
  color: white;
  background-color: #e63979;
  text-align: right;
  padding: 3px 10px 3px;
  font-size: 11px;
}

.load-more-posts {
  background-color: #373737;
  color: #fff;
  text-align: center;
  padding: 20px;
  cursor: pointer;
}

.load-more-posts:hover {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.8);
}
/*# sourceMappingURL=style.css.map */