/********************************************************
					Global Style Start
********************************************************/
.social-btns {
  margin-bottom: 10px;
}
.social-btns a {
  width: 50%;
  color: #fff;
  font-size: 15px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.35s ease-in-out 0s;
}
.social-btns a:hover {
  opacity: 0.8;
}
.social-btns a.btn-fb {
  background-color: #3a589c;
  margin-right: 5px;
}
.social-btns a.btn-twitter {
  background-color: #399ff9;
  margin-left: 5px;
}

.main-title {
  font-size: 28px;
}
.followus-section {
  position: relative;
}
.followus-section:after {
  content: "";
  width: 100%;
  height: 17px;
  background-color: #e93578;
  position: absolute;
  left: 0px;
  bottom: 30px;
  z-index: 0;
}
.followus-innner {
  position: relative;
  z-index: 1;
  border: 7px solid #e93578;
  background-color: #fff;
  padding: 7px 30px;
  max-width: 75%;
  margin: 30px auto 0;
}
.followus-innner .logo img {
  max-width: 180px;
}

.social-section .text {
  font-weight: bold;
}
.social-bar {
  display: flex;
  margin-bottom: 0px;
}
.social-bar li {
  margin-right: 6px;
}
.social-bar li a {
  display: block;
  width: 45px;
  height: 45px;
  background-color: #000000;
  color: #fff;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
}
.social-bar li a:hover {
  opacity: 0.7;
}
.single-page-meta {
  color: #aaa;
  font-size: 12px;
  font-family: Arial;
  display: block;
}
.single-article-content p {
  font-size: 16px;
  opacity: 0.8;
}
