/***************************************
			Home Blog Section 
***************************************/
.grey_bg {
  background-color: $grey;
}
.post {
  position: relative;
}
.post-thumbnail {
	overflow: hidden;
  img {
    width: 100%;
    @include transition(all 0.25s cubic-bezier(0.85, 1.49, 0.96, 1.05));
  }
}
.main-area {
  padding: 20px 20px;
}
.default-post-wrap {
  min-height: 100%;
  background-color: $white;
  margin-bottom: 15px;
}

.post,
.post-small,
.default-post-wrap {
	&:hover {
		.post-thumbnail {
			img {
			  transform: scale(1.05);
			}
		  }
	  }
}

.post-source {
  text-align: center;
  margin-top: 20px;
  span {
    width: 70%;
    display: block;
    margin: 0 auto;
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    padding-top: 10px;
  }
  img {
    max-width: 90px;
  }
}
.post-info {
  &.overlay {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 30px;
    h2 {
      font-size: 2.7rem;
      font-weight: 700;
    }
    a {
      color: $white;
      &:hover {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.85);
	  }
	  &::before {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0px;
		top: 0px;
      }
    }
  }
  &.default {
    background-color: $white;
    padding: 10px 12px 15px 12px;
    .date {
      color: #919191;
      font-family: "Comfortaa", cursive;
      font-size: 10px;
      margin: 0px 0px 5px;
    }
    .post-title {
      font-size: 1.2rem;
      font-weight: 600;
      min-height: 70px;
      a {
        color: $coal;
        text-decoration: none;
        &:hover {
          color: $pink;
        }
      }
    }
    .post-desc {
      position: relative;
      padding-left: 20px;
      font-weight: 300;
      color: #414141;
      i {
        position: absolute;
        left: 0px;
        top: 4px;
      }
    }
  }
}

.post-small {
  .headline {
    color: #6b6b6b;
    font-family: "Comfortaa", cursive;
    font-size: 10px;
    padding: 7px 10px 7px 10px;
  }
  .post-info {
    padding: 10px 9px;
  }
  .post-title {
    font-weight: 600;
    font-size: 14px;
    a {
      color: $coal;
      text-decoration: none;
      &:hover {
        color: $pink;
      }
    }
  }
  .date {
    color: #919191;
    font-family: "Comfortaa", cursive;
    font-size: 10px;
    margin: 15px 0px 0px;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: $pinkDark;
    padding: 6px 0 0 0;
  }
}
.post-vertical-list {
  > div {
    margin-bottom: 14px;
  }
  .post-title {
    font-weight: 600;
    font-size: 14px;
    a {
      color: $coal;
      text-decoration: none;
      &:hover {
        color: $black;
      }
    }
  }
  .date {
    color: #919191;
    font-family: "Comfortaa", cursive;
    font-size: 10px;
    padding: 6px 0 0 0;
  }
}
.post-tags {
  padding: 0px;
  margin: 0px;
  font-weight: 300;
  li {
    margin-right: 45px;
    color: $white;
    &:last-child {
      margin-right: 0px;
    }
    i {
      margin-right: 4px;
    }
    &:first-child {
      i {
        color: $pink;
      }
    }
    &:nth-child(2n) {
      i {
        color: $parrot;
      }
    }
    &:nth-child(3n) {
      i {
        color: $blue;
      }
    }
  }
}
.category-name {
  color: white;
  background-color: $pinkDark;
  text-align: right;
  padding: 3px 10px 3px;
  font-size: 11px;
}
.load-more-posts {
  background-color: $coal;
  color: $white;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  &:hover {
    background-color: $black;
    color: rgba(255, 255, 255, 0.8);
  }
}
