/********************************************************
					Global Style Start
********************************************************/
html {
	font-size: 13px;
}
html, body {
	padding: 0px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
}
.conforta {
	font-family: 'Comfortaa', cursive;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: 400;	
}
body {
	font-size: 1rem;
}
a {
	@include transition(all 0.25s ease-in-out 0s);
}
.container {
	max-width: 1050px;
}
.row {
	margin-left: -5px;
	margin-right: -5px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 5px;
    padding-left: 5px;
}
.color-pink {
	color: $pink;
}
.color-blue {
	color: $blue;
}
.color-green {
	color: $parrot;
}
.border-top-blue {
	border-top-color: $blue !important;
}
.border-top-pink {
	border-top-color: $pinkDark !important;
}
.section-border {
	position: relative;
	border-top-width: 14px;
	border-top-style: solid;
	&.table {
		border-top-width: 17px;
	}
}
.border-mixed {
	&:before,
	&:after {
		content: '';
		height: 17px;
		width: 50%;
		display: block;
		top: -17px;
		position: absolute;
	}
	&:before {
		background-color: $purple;
		left: 0px;
	}
	&:after {
		background-color: $parrot;
		right: 0px;
	}
}
.section-border.table td, 
.section-border.table th {
    padding: 1rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
/********************************************************
					Global Style END
********************************************************/
