$white: #fff;
$black: #000000;
$coal: #373737;

$pink: #ea598e;
$pinkDark: #e63979;
$grey: #f7f6f6;
$parrot: #94d173;
$blue: #22c9f6;
$purple: #621e76;

%unstyle {
	list-style: none;
	padding: 0px;
	margin: 0px;
}