/********************************************************
					Header Style Start
********************************************************/
.header { 
	background-color: $pink;
}
.logo {
	margin-right: 40px;
	img {
		max-width: 200px;
	}
}
.main-menu {
	margin-bottom: 0px;
	> li {
		margin-right: 10px;
		> a {
			padding: 31px 25px;
			color: white;
			display: block;
		}
	}
	li {
		position: relative;
		a {
			text-decoration: none;
			> .fa {
				vertical-align: text-top;
			}
			&:hover {
				color: black;
			}
		}
		&.current-menu-item {
			a {
				background-color: $white;
				color: black;
			}
		}
	}
}
.main-menu li:hover .dropdown {
    transform: scale(1) translateX(-50%);
    visibility: visible;
}
.main-menu .dropdown {
    position: absolute;
    top: 100%;
    left: 50%;
    background: #f75792;
    min-width: 100%;
    border-radius: 0 0 2px 2px;
    transform: scale(0) translateX(-50%);
    transform-origin: left top;
    transition: all .1s;
    visibility: hidden;
    z-index: 30;
    padding: 1rem 2rem;
    box-shadow: 0 2px 3px rgba(0,0,0,.1);
	white-space: nowrap;

	&:before {
		content: "";
		display: block;
		border: 8px solid transparent;
		border-bottom-color: #f75792;
		position: absolute;
		top: -16px;
		left: 50%;
		margin-left: -8px;
	}

	ul {
		column-count: 2;
		padding: 0px;
		margin: 0px;
		list-style: none;
	}
	li {
		a {
			color: $white;
			display: block;
			line-height: 2.4;
			min-width: 9rem;
			text-decoration: none;
			&:hover {
				color: $black;
			}
		}
	}
}
.category-menu {
	li {
		padding: 0 14px;
		a {
			color: $black;
			font-weight: 600;
			text-decoration: none;
			&:hover {
				color: $pinkDark;
			}
		}
	}
}