@mixin flex() {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
@mixin align-items($value) {
	-webkit-box-align: $value;
	-ms-flex-align: $value;
	align-items: $value;	
}
@mixin borderRadius($value) {
	border-radius: $value;
	-webkit-border-radius: $value;
	-ms-border-radius: $value;
}
@mixin transition($value) {
	transition: $value;
	-moz-transition: $value;
	-webkit-transition: $value;
	-ms-transition: $value;
}
@mixin transform($value) {
	transform: $value;
	-moz-transform: $value;
	-webkit-transform: $value;
	-ms-transform: $value;
}
@mixin transformOrigin($value) {
	transform-origin: $value;
	-moz-transform-origin: $value;
	-webkit-transform-origin: $value;
	-ms-transform-origin: $value;
}
@mixin boxShadow($value) {
	box-shadow: $value;
	-moz-box-shadow: $value;
	-webkit-box-shadow: $value;
	-ms-box-shadow: $value;
}
@mixin menuGradient($color1, $color2) {
	background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, $color1), color-stop(50%, $color2));
	background-image: linear-gradient(to right, $color1 50%, $color2 50%);
}

@mixin mediaQuery( $point ) {
	@if $point==1199 {
		@media ( max-width: 1199px ) {
			@content;
		}
	}
	@if $point==991 {
		@media ( max-width: 991px ) {
			@content;
		}
	}
	@if $point==768 {
		@media ( max-width: 767px ) {
			@content;
		}
	}
	@if $point==576 {
		@media ( max-width: 576px ) {
			@content;
		}
	}
	@if $point==479 {
		@media ( max-width: 479px ) {
			@content;
		}
	}
}